body {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.wrapper {
  background: rgba(0, 0, 0, 0.1);
}

#board {
  position: relative;
  width: 480px;
  height: 480px;
  border: 1px solid #e7e7e7;
}

.board {
  background: white;
  border-radius: 2px;
}

.snake {
  background: purple;
  transition: 0.8s ease linear;
  border-radius: 0;
}

.rounded {
  border-radius: 4px;
}

.food {
  background: greenyellow;
}
